@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;
  --background-rgb: #d6dbdc;

} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 49, 62, 81;

  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background-color:rgb(var(--background-rgb));
  background: url(../public/assets/images/pattern-background-desktop-dark.svg),;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
